
.list-group-item {
    cursor: pointer;
}

.modal-dialog {
    width: 700px;
}

.modal-body {
    padding: 15px 60px;
}

.modal-header {
    border-bottom: none;
}

.boats-image {
    position: relative;
}

.boats-image > span {
    position: absolute;
    right: 0;
    width: 60px;
    height: 30px;
    top: 10px;
    line-height: 2.3;
}

* {
    border-radius: inherit !important;
}

.characteristic {
    margin: 15px 0px;
}

.characteristic > span{
    display: block;
    color: #808080;
    padding-bottom: 10px;
}

.boat-show-img {
    position: relative;
}

.boat-show-img > span {
    position: absolute;
    right: 0;
    width: 70px;
    height: 35px;
    top: 10px;
    line-height: 2.3;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.services .service {
    width: 49%;
    border: 1px solid #8c8c8c;
    padding: 12px 45px;
    text-align: left;
}

.services .service:nth-child(odd) {
    margin: 10px 10px 10px 0;
}

.services .service:nth-child(even) {
    margin: 10px 0 10px 10px;
}

.services .active {
    padding-left: 27px;
    /*color: #ffffff;*/
}

.active i {
    display: inline !important;
}

.order-confirm .total-row {
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.notifications-container .panel {
    cursor: pointer;
}

.notifications-container .noOpen {
    background-color: #f8f9fa;
}

#yandex-map {
    padding: 0;
}

#showLocation {
    cursor: pointer;
}

.panel-orders-history .panel-title{
    position: relative;
}

.panel-orders-history .order-state {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(255,255,255,0.5) ;
}

/* Календарь */

/*#times .fc-widget-header {*/
    /*width: 23%;*/
    /*height: 100px;*/
/*}*/

/*#times {*/
    /*height: 420px;*/
/*}*/

#times .fc-head {
    display: none;
}

/*#times .fc-chrono {*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-content: stretch;*/
    /*height: 100%;*/
    /*width: 1041px;*/
/*}*/

#times .fc-slats tr {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    width: 790px;
}

#times .fc-slats tr .fc-widget-content {
    width: 19%;
    height: 50px;
    border: 1px solid #eee;
    margin: 10px 24px;
}

.fc-time-area {
    border: none !important;
}

.fc-scroller {
    overflow: hidden !important;
}

.select-time, .busy-time {
    background-color: #ccc;
}