html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 15px 20px;
}

.footer {
    height: 100px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    height: 250px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.navbar-fixed-top {
    position: inherit;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li {
    padding: 0 10px;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.list-group-item {
    cursor: pointer;
}

.modal-dialog {
    width: 700px;
}

.modal-body {
    padding: 15px 60px;
}

.modal-header {
    border-bottom: none;
}

.boats-image {
    position: relative;
}

.boats-image > span {
    position: absolute;
    right: 0;
    width: 60px;
    height: 30px;
    top: 10px;
    line-height: 2.3;
}

* {
    border-radius: inherit !important;
}

.characteristic {
    margin: 15px 0px;
}

.characteristic > span{
    display: block;
    color: #808080;
    padding-bottom: 10px;
}

.boat-show-img {
    position: relative;
}

.boat-show-img > span {
    position: absolute;
    right: 0;
    width: 70px;
    height: 35px;
    top: 10px;
    line-height: 2.3;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.services .service {
    width: 49%;
    border: 1px solid #8c8c8c;
    padding: 12px 45px;
    text-align: left;
}

.services .service:nth-child(odd) {
    margin: 10px 10px 10px 0;
}

.services .service:nth-child(even) {
    margin: 10px 0 10px 10px;
}

.services .active {
    padding-left: 27px;
    /*color: #ffffff;*/
}

.active i {
    display: inline !important;
}

.order-confirm .total-row {
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.notifications-container .panel {
    cursor: pointer;
}

.notifications-container .noOpen {
    background-color: #f8f9fa;
}

#yandex-map {
    padding: 0;
}

#showLocation {
    cursor: pointer;
}

.panel-orders-history .panel-title{
    position: relative;
}

.panel-orders-history .order-state {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(255,255,255,0.5) ;
}

/* Календарь */

/*#times .fc-widget-header {*/
    /*width: 23%;*/
    /*height: 100px;*/
/*}*/

/*#times {*/
    /*height: 420px;*/
/*}*/

#times .fc-head {
    display: none;
}

/*#times .fc-chrono {*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-content: stretch;*/
    /*height: 100%;*/
    /*width: 1041px;*/
/*}*/

#times .fc-slats tr {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    width: 790px;
}

#times .fc-slats tr .fc-widget-content {
    width: 19%;
    height: 50px;
    border: 1px solid #eee;
    margin: 10px 24px;
}

.fc-time-area {
    border: none !important;
}

.fc-scroller {
    overflow: hidden !important;
}

.busy-time {
    background-color: #eee;
}