
/* Global type fixes  */

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a,
	input,
	button,
	span,
	blockquote,
	li {
		-webkit-font-smoothing: antialiased;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	li {
		line-height: 1.92em;
	}

	p {
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: #05345C;
	}

/* Dividers */

	.mt-16 {
		margin-top: .96em;
	}

	.mt-32 {
		margin-top: 1.92em;
	}

	.mt-64 {
		margin-top: 3.84em;
	}

	.mb-16 {
		margin-bottom: .96em;
	}

	.mb-32 {
		margin-bottom: 1.92em;
	}

	.mb-64 {
		margin-bottom: 3.84em;
	}

	

/* Buttons */

	.btn {
		padding: .8em 3.2em;
		font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
		font-weight: bold;
		border: none;
	}

	.btn-primary {
		background: #05345C;
	}
	
  .btn-primary:hover {
  	background: #042A4B;
  }

/* Footer */

	.copy {}
	
















