
/* Global type fixes  */

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a,
	input,
	button,
	span,
	blockquote,
	li {
		-webkit-font-smoothing: antialiased;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	li {
		line-height: 1.64em;
	}

	p {
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: #05345C;
	}

/* Dividers */

	.mt-8 {
		margin-top: .48em;
	}

	.mt-16 {
		margin-top: .96em;
	}

	.mt-32 {
		margin-top: 1.92em;
	}

	.mt-64 {
		margin-top: 3.84em;
	}

	.mb-8 {
		margin-bottom: .48em;
	}

	.mb-16 {
		margin-bottom: .96em;
	}

	.mb-32 {
		margin-bottom: 1.92em;
	}

	.mb-64 {
		margin-bottom: 3.84em;
	}

/* Alignment */

/* Divider */

	.divider img {
		width: 100%;
		max-width: 844px;
	}

/* Buttons */

	.btn {
		padding: .8em 3.2em;
		font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
		font-weight: bold;
		border: none;
	}

	.btn-primary {
		background: #05345C;
	}
	
  .btn-primary:hover{
  	background: #042A4B;
  }

  .btn-default {
  	color: #05345C;
  }

  .btn-default:hover {
  	color: #F8F9FA;
  }

  .btn-warning {
		background: #FFA316; 
  }

  .btn-warning:hover {
		background: #FF9C14;
  }

/* Header */

	.navbar {
		z-index: 10;
	}

	.navbar-default .navbar-nav > li > a.btn-primary {
		color: #fff;
	}

	.navbar-default .navbar-nav > li > a.btn-primary:hover,
	.navbar-default .navbar-nav > li > a.btn-primary:focus {
		background: #042A4B;
	}

	.navbar-default .navbar-nav > li > a.btn-default {
		color: #05345C;
	}

	.navbar-default .navbar-nav > li > a.btn-default:hover,
	.navbar-default .navbar-nav > li > a.btn-default:focus {
		background: #F8F9FA;
	}

	.navbar-nav > li > a {
		padding: .8em 3.2em;
	}

	.navbar-default {
		background: none;
		background-color: none;
		border: none;
		border-radius: 0;
	}

	.header-vertical-collapse {
		margin-bottom: -80px;
	}

	.navbar-brand {
		padding: .64em calc(32px);
	}


/* Hero */

	.hero {
		z-index: -10;
	}

	.hero-img-container {
		position: relative;
	}

	.hero-title {
		position: absolute;
		top: 38%;
		left: 6%;
	}
	
	.hero-title-h1,
	.hero-title-h2 {
		font-family: Roboto, Helvetica, Arial, sans-serif;
		color: #fff;
		font-size: 2.56rem;
		line-height: 2.40rem;
	}

	.hero-title-h1 p,
	.hero-title-h2 p {
		margin-bottom: 2.08rem;
	}

	.hero-title-h1 {
		font-weight: bold;
	}

	.hero-title-h2 {

	}

/* Footer */

	.footer {
		background-image: url('/img/footer.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		border-top: none;
	}

	.footer p {
		color: white;
	}

	.text-seo p {
		opacity: .48;
		text-align: center;
		font-size: 8px;
		margin: 0; 
	}

	
















