
/* Global type fixes  */
body {
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
button,
span,
blockquote,
li {
	-webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
	line-height: 1.64em;
}

p {
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #05345C;
}

/* Dividers */

/* Positive */

.mt-8 {
	margin-top: .48em;
}

.mt-16 {
	margin-top: .96em;
}

.mt-32 {
	margin-top: 1.92em;
}

.mt-64 {
	margin-top: 3.84em;
}

.mb-8 {
	margin-bottom: .48em;
}

.mb-16 {
	margin-bottom: .96em;
}

.mb-32 {
	margin-bottom: 1.92em;
}

.mb-64 {
	margin-bottom: 3.84em;
}

/* Clear */

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

/* Negative */

.mt--16 {
	margin-top: -.96em;
}

.mt--32 {
	margin-top: -1.92em;
}

.mt--64 {
	margin-top: -3.84em;
}

.mb--8 {
	margin-bottom: -.48em;
}

.mb--16 {
	margin-bottom: -.96em;
}

.mb--32 {
	margin-bottom: -1.92em;
}

.mb--64 {
	margin-bottom: -3.84em;
}

/* Alignment */

/* Divider */

.divider img {
	width: 100%;
	max-width: 844px;
}

/* Buttons & labels */

.btn {
	padding: .8em 3.2em;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
	font-weight: bold;
	border: none;
}

.label {
	font-size: 14px;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
	font-weight: bold;
	padding: 12px;
	display: inline-block;
}

.btn-primary,
.label-primary {
	background: #032a4b;
}

.btn-primary:hover{
	background: #042A4B;
}

.btn-default,
.label-default {
	color: #05345C;
}

.btn-default:hover {
	color: #F8F9FA;
}

.container .btn-default  {
	color: #05345C;
	background: #f8f9fb;
	border: 1px solid #e2e5ea;
}

.btn-warning,
.label-warning {
	background: #FFA316;
	color: #ffffff;
}

.btn-warning:hover {
	background: #FF9C14!important;
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a.btn-warning {
	color: #ffffff;
}

/* Header */

.navbar {
	z-index: 10;
}

.navbar-default .navbar-nav > li > a.btn-primary {
	color: #fff;
}

.navbar-default .navbar-nav > li > a.btn-primary:hover,
.navbar-default .navbar-nav > li > a.btn-primary:focus {
	background: #042A4B;
}

.navbar-default .navbar-nav > li > a.btn-default {
	color: #05345C;
}

.navbar-default .navbar-nav > li > a.btn-default:hover,
.navbar-default .navbar-nav > li > a.btn-default:focus {
	background: #F8F9FA;
}

.navbar-nav > li > a {
	padding: .8em 3.2em;
}

.navbar-default {
	background: none;
	background-color: none;
	border: none;
	border-radius: 0;
}

.navbar-background {
	background: black;
	background-color: black;
	background-image: url('/img/footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -16px;
	border: none;
	border-radius: 0;
}

.header-vertical-collapse {
	margin-bottom: -80px;
}

.navbar-brand {
	padding: .64em calc(32px);
}


.navbar-collapse {
	border: none;
}

@media screen and (max-width: 768px) {
	.navbar-background {
		background-position: 0 0;
	}

	.navbar-toggle {
		margin-top: 18px;
		margin-bottom: 18px;
	}

	.navbar-collapse {
		box-shadow: none;
	}

	.navbar-collapse.collapse ul li,
	.navbar-collapse.collapsing ul li {
		margin-top: 10px;
	}

	.navbar-brand {
		height: 70px;
	}
}


/* Hero */

.hero {
	z-index: -10;
}

.hero-img-container {
	position: relative;
}

.hero-title {
	position: absolute;
	top: 38%;
	left: 6%;
}

.hero-title-h1,
.hero-title-h2 {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 2.56rem;
	line-height: 2.40rem;
}

.hero-title-h1 p,
.hero-title-h2 p {
	margin-bottom: 2.08rem;
}

.hero-title-h1 {
	font-weight: bold;
	margin: 0;
}

.hero-title-h2 {

}

/* Categoru & boats */

.boats-img-container {
	position: relative;
}

.label-boats {
	position: absolute;
	top: 8px;
	right: -8px;
}

/* Forms */

.form-control {
	height: 40px;
	padding: 12px 16px;
	border-radius: 2px;
}

/* Common */

hr {
	background-color: #dce0e3;
	height: 1px;
	border-top: 1px solid #eeeff1;
	border-bottom: 1px solid #eeeff1;
}

hr.one {
	background-color: #dce0e3;
	height: 1px;
	border: none;
}

/* Boats */
.boat-item .boat-photo {
	position: relative;
}

.boat-item .boat-photo img {
	width: 100%;
}

.boat-item .boat-photo .boat-price {
	width: 165px;
	height: 34px;
	background: linear-gradient(180deg, #feac1c, #ff9d14);
	border-radius: 5px;
	position: absolute;
	color: #ffffff;
	text-align: center;
	line-height: 34px;
	top: 8px;
	right: -8px;
	font-weight: bold;
}

.boat-character-title {
	font-size: 16px;
	color: #6c757c;
}
.boat-character-value {
	font-size: 16px;
	font-weight: bold;
	color: #3e4347;
	margin-bottom: 20px;
}
.boat-details-button .btn {
	width: 100%;
}

/* Boat detail */
.show-carousel-modal {
	cursor: pointer;
}
.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 15;
	width: calc(100% - 20px);
	padding-left: 0;
	margin-left: 0;
	text-align: left;
	list-style: none;
}
.carousel-indicators li {
	width: 100px;
	height: 50px;
	overflow: hidden;
	text-indent: 0px;
	opacity: 0.6;
	border-radius: 0px;
}
.carousel-indicators li img {
	max-width: 100%!important;
}
.carousel-indicators .active {
	width: 100px;
	height: 50px;
	opacity: 1;
	margin: 1px;
}
.carousel-inner .item img {
	width: 100%;
}

#carousel-modal .modal-dialog,
#map .modal-dialog {
	width: 60%;
}

#carousel-modal .modal-dialog .close,
#map .modal-dialog .close {
	position: absolute;
	right: -60px;
	top: 0px;
	color: #000000;
	font-size: 40px;
	z-index: 1000;
	cursor: pointer;
	opacity: 0.4;
	width: 50px;
	height: 50px;
	background: #ffffff;
	line-height: 50px;
}
#carousel-modal .modal-dialog .close:hover,
#map .modal-dialog .close:hover {
	opacity: 0.8;
}
#carousel-modal .modal-dialog .carousel-control,
#map .modal-dialog .carousel-control {
	background-image: none;
}


@media screen and (max-width: 576px) {
	#carousel-modal .modal-dialog,
	#map .modal-dialog {
		width: 100%;
	}
	#carousel-modal .carousel-indicators {
		display: none;
	}
}
.boat-photo-icon {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

/* Order summary */
hr.margin-10 {
	margin: 10px 0;
}
hr.margin-bottom-0 {
	margin-bottom: 0;
}
hr.line {
	border: none;
	background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 49.9%, #cccdd1 49.9%, #cccdd1 60%, rgba(0, 0, 0, 0) 60%)
	fixed,
	linear-gradient(-45deg, #cccdd1 10%, rgba(0, 0, 0, 0) 10%)
	fixed;
	border: none;
	background-size: 13px 13px;
	height: 13px;
}

.services .popover.top {
	background: #05355d;
	color: #ffffff;
}
.services .popover.top > .arrow:after {
	border-top-color: #05355d;
}

.service.btn {
	width: 100%;
	text-align: left;
	margin-bottom: 16px;
	position: relative;
}

.service.btn .info {
	position: absolute;
	right: 10px;
	top: 14px;
}

.service.btn .chechbox {
	border: 1px solid #05355d;
	border-radius: 2px;
	width: 16px;
	height: 16px;
	position: absolute;
	margin-left: -26px;
	margin-top: 1px;
	font-size: 12px;
	color: #ffffff;
}
.service.btn .chechbox .glyphicon {
	display: none;
}

.service.btn.active {
	width: 100%;
	text-align: left;
	color: #ffffff;
	background: #032a4b;
	box-shadow: none;
}

.service.btn.active .chechbox {
	background: #05355d;
}

.service.btn.active .chechbox .glyphicon {
	display: block;
}

.order-summary .table .width-20 {
	width: 30%;
}

.order-summary .table tr:nth-child(1) th,
.order-summary .table tr:nth-child(1) td {
	border: none;
}

.order-summary .table th,
.order-summary .table td {
	line-height: 60px;
}

.order-summary .table td {
	color: #6b747d;
}

.order-summary .table td.coast {
	color: #05355d;
	font-weight: bold;
}

.order-summary .table td.coast.red {
	color: #dd3b4a;
}

.offer {
	color: #6c757e
}

.chechbox {
	border: 1px solid #05355d;
	border-radius: 2px;
	width: 16px;
	height: 16px;
	position: absolute;
	margin-left: -26px;
	margin-top: 1px;
	font-size: 12px;
	color: #ffffff;
}


/* Footer */

.footer {
	background-image: url('/img/footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-top: none;
}

.footer p,
.footer p.small {
	color: white;
}

.footer a {
	color: white;
	text-decoration: none;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

.text-seo p {
	opacity: .48;
	text-align: center;
	font-size: 8px;
	margin: 0;
}

.footer span.prepend {
	opacity: .64;
}

















